@import './commons.scss';

section {
  position: relative;
  padding: 15px;

  &:nth-child(1) {
    @extend .center-items;

    h4 {
      border-top: 2px solid #424343;
      border-bottom: 2px solid #424343;
      padding: 20px;
    }
  }

  &:nth-child(2), &:nth-child(3) {
    @extend .center-items;
  }

  &.events {
    p {
      font-size: 35px;
      display: grid;
      text-align: left;
      width: 100%;
      grid-template-columns: 120px 15px auto;
      grid-gap: 8px;
    }

    iframe {
      border-radius: 5px;
    }
  }
}

@media screen and (min-width: $desktop) {
  section {
    &:nth-child(1) {
      background: url('../imgs/d3.jpg') fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:nth-child(2) {
      background: url('../imgs/d2.jpg') fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  
    &:nth-child(3) {
      background: url('../imgs/d1.jpg') fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &.events {
      grid-template-columns: 60% 40%;

      .map {
        width: 80%;

        iframe {
          height: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  section {
    &:nth-child(1) {
      background: linear-gradient(#343535 1%, transparent 13%), url('../imgs/img1.jpg') fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 10%;

      p {
        font-weight: 700 !important;
      }

      h4 {
        padding: 10px !important;
        letter-spacing: 5px !important;
        width: 100%;
      }

      .glass {
        min-height: 240px;
      }
    }

    &:nth-child(2) {
      background: url('../imgs/d3.jpg') fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right center;
    }

    &:nth-child(3) {
      background: url('../imgs/m1.jpg') fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &.events {
      p {
        font-size: 15px !important;
        margin: 2px 0 !important;
        line-height: 30px !important;
        font-weight: 700 !important;
    
        display: grid;
        text-align: left;
        width: 100%;
        grid-template-columns: 40px 10px auto;
        grid-gap: 8px;
    
        span {
          text-align: left;
        }
      }

      .map {
        width: 75%;

        iframe {
          height: 300px;
        }
      }
    }
  }
}
